html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: var(--background-color);
    overflow-x: hidden;
    object-fit: fill;
    font-family: 'rubik', Arial, Helvetica, sans-serif;
}

.toolbar {
    background-color: var(--menu-color);
    width: 30vw;
    height: 10vh;
    position: fixed;
    z-index: 10;
    left: 35vw;
    top: 85vh;
    box-shadow: 0vh 0.6vh 0.5vh 1vh rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    border-radius: 30% 30% 5% 5%;
    overflow: hidden;
}

.toolbar div {
    color: var(--text-color);
    flex: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: inherit;
    border-left: 1px solid var(--text-color);
    background-color: inherit;
}

.toolbar div:nth-of-type(1) {
    border: none;
}

.toolbar div:hover {
    filter: brightness(120%);
}

.toolbar div:active {
    filter: brightness(140%);
}

#timeline-container {
    width: 80%;
    height: 80%;
    position: absolute;
    left: 12vw;
    top: 52%;
    transform: translate(0%, -50%);
    background-color: var(--menu-color);
    display: flex;
    justify-content: center;
}

#timeline {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.reverse-triangle {
    width: 0;
    height: 0;
    border-left: 2vh solid transparent;
    border-right: 2vh solid transparent;
    border-top: 4vh solid var(--menu-color);
    z-index: 9;
}

.vertical-line {
    position: relative;
    width: 2px;
    height: 100%;
    background-color: var(--text-color);
    z-index: 2;
}

.century-marker {
    position: absolute;
    height: 110%;
    width: 8vh;
    top: -8vh;
    left: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    z-index: 9;
}

.century-text {
    min-width: 100%;
    text-align: center;
    color: var(--menu-color);
    user-select: none;
}

.event-data-popup {
    position: absolute;
    width: 80%;
    height: 85%;
    left: 12%;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--menu-color);
    box-shadow: 0vh 0.6vh 0.5vh 1vh rgba(0, 0, 0, 0.25);
    z-index: 100;
    overflow-y: scroll;
    display: none;
    transition: all 1s;
}

.event-data-popup .inner-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 60%;
}

.event-data-popup input {
    margin-left: 5%;
}

.event-data-popup input[type="text"] {
    color: var(--text-color);
    border: 2px solid var(--accent);
    background-color: var(--menu-color);
    outline: none;
    padding: 1%;
    margin-top: 1%;
    width: 100%;
    position: relative;
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
}

.event-data-popup input[type="date"] {
    background-color: var(--menu-color);
    position: relative;
    margin-top: 1%;
    padding: 1%;
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    color: var(--text-color);
    font-size: 18px;
    border: 2px solid var(--accent);
    outline: none;
    border-radius: 5px;
}

::-webkit-calendar-picker-indicator {
    background-color: var(--text-color);
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

.event-data-popup .date-input {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
}

.event-data-popup .date-input input:not(:nth-of-type(1)) {
    margin-left: 2% !important;
}

.event-data-popup .date-input input {
    width: 10%;
    background-color: var(--menu-color);
    position: relative;
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    color: var(--text-color);
    font-size: 18px;
    border: 2px solid var(--accent);
    outline: none;
    -moz-appearance: textfield;
    appearance: textfield;
    border-radius: 5px;
    text-align: right;
    padding-right: 0.5%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.event-data-popup h4 {
    color: var(--text-color);
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    display: inline-block;
    margin-left: 5%;
    position: relative;
    margin-top: 3%;
    margin-bottom: 2%;
}

#rowInput{
    color: var(--text-color);
    border: 2px solid var(--accent);
    background-color: var(--menu-color);
    outline: none;
    padding: 1%;
    margin-top: 1%;
    min-width: 100%;
    position: relative;
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    -moz-appearance: textfield;
    appearance: textfield;
}

#colorInput{
    width: 4vw;
    height: 4vw;
    margin-bottom: 5%;
    position: relative;
}