html,body {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: var(--background-color);
    color: var(--text-color);
    overflow: hidden;
}

.container {
    position: relative;
    background-color: var(--menu-color);
    width: 90%;
    height: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.generators-grid {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(3,1fr);
    gap: 3%;
    overflow-y: scroll;
    border: 1px solid var(--accent);
    padding: 1%;
}

.generators-grid-container {
    position: relative;
    width: 90%;
    height: 80%;
    flex: 4;
    left: 50%;
}

.generator-cell {
    position: relative;
    background-color: var(--menu-color-darkened);
    border: 1px solid var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.generator-cell button{
    position: relative;
    color: var(--text-color);
    background-color: var(--menu-color);
    border: none;
    width: 100%;
    height: 100%;
    text-align: center;
}

.generator-cell button:hover{
    filter: brightness(120%);
}

.generator-cell button:active{
    filter: brightness(140%);
}

.search-container{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

#search-bar {
    height: 60%;
    flex: 7;
    position: relative;
    color: var(--text-color);
    background-color: var(--menu-color);
    border: 1px solid var(--accent);
    padding-left: 1%;
    font-size: 1em;
}

.search-button {
    position: relative;
    width: 80%;
    height: 60%;
    flex:1;
}

.search-button button {
    position: relative;
    height: 100%;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--menu-color);
    border: 1px solid var(--accent);
    color: var(--text-color);
}

.search-button button:hover {
    filter: brightness(120%);
}

.search-button button:active {
    filter: brightness(140%);
}

#search-bar:focus {
    outline: none;
}