html,body {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: var(--background-color);
    color: var(--text-color);
}

.controls{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none; 
}

.controls * {
    pointer-events: all;
}

#map-list-button{
    background-color: var(--accent);
    color: var(--text-color);
    position: fixed;
    bottom: 2%;
    left: 2%;
    border: none;
    width: 4vw;
    height: 4vw;
    font-size:xx-large;
}


#map-list-button:hover {
    border: 3px solid var(--text-color);
}

.map-list-button-active {
    filter: brightness(150%);
}

.map-list-menu{
    position: fixed;
    background-color: var(--menu-color);
    width: 16vw;
    height: 20vw;
    bottom: calc(4vw + 2%);
    left: 2%;
    overflow: scroll;
    border: 1px solid var(--text-color);
    display: none;
}

.map-list-ul button{
    width: 100%;
    height: 5vh;
    border: none;
    margin: 0;
    padding-top: 1%;
    background-color: var(--accent);
    color: var(--text-color);
    border-bottom: 1px solid var(--text-color);
}

.map-list-li-active {
    filter: brightness(150%);
}

.map-list-ul button:hover{
    filter: brightness(120%);
}

.metadata-controls{
    position: fixed;
    width: 70%;
    height: 7vh;
    background-color: var(--menu-color);
    left: 50%;
    transform: translateX(-50%);
}

#map-name-field{
    position: fixed;
    width: 20%;
    height: 90%;
    background-color: var(--menu-color);
    border: 1px solid var(--accent);
    color: var(--text-color);
    outline: none;
    left: 1vw;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 1vw;
}

#map-image-field-button, #map-save-button{
    position: fixed;
    width: 20%;
    height: 90%;
    border: 0;
    background-color: var(--accent);
    color: var(--text-color);
    outline: none;
    top: 50%;
    transform: translateY(-50%);
}

#map-image-field-button {
    left: calc(2vw + 20%);
}

#map-save-button
{
    right: 2vw;
}

#map-image-field-button:hover, #map-save-button:hover{
    filter: brightness(120%);
}

#map-image-field-button:active, #map-save-button:active {
    filter: brightness(140%);
}

.map-render-image{
    position: absolute;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.pin {
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: x-large;
    padding: 0.2em;
}