html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 120%;
    margin: 0;
    padding: 0;
    background: var(--background-color);
    overflow-x: hidden;
    object-fit: fill;
    font-family: 'rubik', Arial, Helvetica, sans-serif;
}

.maps-list{
    width: 100%;
    height: 90%;
    margin-left: 8%;
    position: relative;
    top: 4%;
}

.maps-list li{
    border: 1px solid var(--menu-color);
    background-color: var(--menu-color);
    display: block;
    padding: 0.5%;
    min-width: 20%;
    width: 1%;
    max-width: 100%;
    border-radius: 5%;
    color: var(--text-color);
    margin-bottom: 2%;
}

.maps-list a{
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    color: var(--text-color);
    text-decoration: none;
    user-select: none;
}

.maps-list li,.maps-list li button:hover{
    filter: brightness(120%);
}

.maps-list li,.maps-list li button:active{
    filter: brightness(140%);
}

.new-map {
    color: var(--text-color);
    background-color: var(--accent);
    border: none;
    width: 120%;
    height: 200%;
    position: relative;
}

li:has(.new-map){
    background: none;
    border: none;
    padding: 0;
    height: 3%;
    position: relative;
}

.maps-list li button.remove-map{
    background-color: var(--accent);
    border: none;
    padding: 1%;
    float: right;
    cursor: pointer;
}