body{
    background-color: var(--background-color);
}

.settings-container{
    position: relative;
    width: 80%;
    height: 80%;
    overflow: scroll;
    left: 10%;
    top: 7%;
    background-color: var(--menu-color);
}

#theme-selector{
    background-color: var(--text-color);
    color: var(--menu-color);
    position: relative;
    border: none;
    width: 20vh;
    height: 20vh;
    left: 10%;
    margin-top: 5%;
    border-radius: 100%;
}

#theme-selector:hover{
    filter: brightness(120%);
}

#theme-selector:active{
    filter: brightness(140%);
}

.theme-selector-label{
    color: var(--text-color);
    left: 5%;
    position: relative;
}

h2{
    color: var(--text-color);
    left: 5%;
    position: relative;
    margin-bottom: 2%;
    margin-top: 3%;
}

.export-button, .import-button{
    width: 20%;
    height: 10%;
    left: 5%;
    position: relative;
    margin-bottom: 2%;
    background-color: var(--accent);
    border: none;
    color: var(--text-color);
}

button:hover{
    filter: brightness(120%);
}


button:active{
    filter: brightness(140%);
}

.import-popup{
    width: 80%;
    height: 90%;
    position: fixed;
    background-color: var(--menu-color);
    z-index: 9;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.import-popup textarea{
    height: 90%;
    width: 98%;
    left: 1%;
    top: 1%;
    position: relative;
    resize: none;
    background-color: var(--menu-color);
    outline: none;
    color: var(--text-color);
    padding-left: 1%;
    border: 1px solid var(--accent);
}

.import-popup textarea:focus{
    filter: brightness(120%);
    margin: 0;
    border: 2px solid var(--accent);
}

button.import{
    width: 30%;
    height: 7%;
    left: 50%;
    margin-top: 1%;
    transform: translateX(-50%);
    position: relative;
    border: none;
    background-color: var(--accent);   
}

h4{
    color: var(--accent);
    text-shadow: 0 0 4px var(--text-color);
    position: relative;
    left: 5%;
    margin-bottom: 2%;
    padding: 1%;
    background-color: var(--text-color);
    width: 50%;
}