body {
    background-color: var(--background-color);
    display: flex;
    overflow: hidden;

}

.explorer-container {
    position: relative;
    width: 20%;
    height: 100%;
    background-color: var(--menu-color-darkened);
    display: inline-block;
    overflow: scroll;
}



.text-editor-container{
    width: 50%;
    height: 90%;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    justify-self: center;
    position: relative;
    background-color: var(--menu-color);
    display: inline-flex; 
    flex-direction: column;
    border: 1px solid var(--menu-color-darkened);
}

.text-editor-container *{
    background-color: var(--menu-color);
}

.ql-picker-options{
    background-color: var(--menu-color) !important;
    border-color: var(--menu-color) !important;
}

.ql-stroke,
.ql-picker-label,
.ql-editor,
.ql-picker-item:not(.ql-selected) {
    font-family: 'Rubik',Arial, Helvetica, sans-serif;
    stroke: var(--text-color) !important;
    color: var(--text-color) !important;
}

.sidebar-container{
    width: 20%;
    height: 100%;
    position: absolute;
    z-index: 20;
    right: 0;
    display: inline-block;
    background-color: var(--menu-color);
    border-left: 2px solid var(--accent);
}

.sidebar-container .resize-button{
    position: relative;
    width: 2vw;
    height: 3vw;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: var(--menu-color);
    left: -1.9vw;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--accent);
    border-right: none;
}

.resize-button:hover{
    filter: brightness(120%);
}

.resize-button:active{
    filter: brightness(140%);
}

.synopsis-container{
    width: 100%;
    height: 50%;
    display: inline-block;
    position: relative;
    left: 55%;
    transform: translateX(-50%);
    margin-top: -2vh;
}

.synopsis-container h2 {
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    color: var(--text-color);
}

#synopsis-editor{
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    background-color: var(--menu-color);
    border: 2px solid var(--accent);
    color: var(--text-color);
    resize: none;
    margin-top: 3vh;
    width: 90%;
    height: 60%;
    outline: none;
    padding-left: 1vw;
    padding-top: 3vh;
    padding-right: 1vh;
    font-size: small;
}

.notes-container{
    width: 100%;
    height: 50%;
    display: inline-block;
    position: relative;
    left: 55%;
    transform: translateX(-50%);
    margin-top: -10vh;

}

.notes-container h2 {
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    color: var(--text-color);
}

#notes-editor{
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    background-color: var(--menu-color);
    border: 2px solid var(--accent);
    color: var(--text-color);
    resize: none;
    margin-top: 3vh;
    width: 90%;
    height: 60%;
    outline: none;
    padding-left: 1vw;
    padding-top: 3vh;
    padding-right: 1vh;
    font-size: small;
}


.fa-solid{
    color: var(--text-color) !important;
}

#save-scene{
    position: relative;
    color: var(--text-color);
    font-family: 'rubik', Arial, Helvetica, sans-serif;
    background-color: var(--accent);
    border: none;
    outline: none;
    width: 90%;
    height: 10vh;
    margin-top: 5vh;
}

#save-scene:hover{
    filter: brightness(120%);
}

#save-scene:active{
    filter: brightness(140%);
}

input{
    color: var(--text-color);
    border: 2px solid var(--accent) !important;
    background-color: var(--menu-color);
    outline: none;
}



.reference-inline-popup{
    position: absolute;
    width: 75%;
    background-color: gray;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 99;
    padding: 3%;
    display: none;
}
.reference-prompt {
    width: 80%;
}

#inline-reference-container{
    position: relative;
    width: 80%;
    height: 10%;
    display: inline-block;
    margin-left: 5%;
}

#inline-reference{
    position: relative;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.reference-inline-popup button {
	position: relative;
	display: inline;
	background-color: var(--accent);
	height: 5vh;
    width: 5vw;
	border: none;
	padding: 1%;
    color: var(--text-color);
    margin-left: 5%;
}

.reference-inline-popup button:not([disabled]):hover{
    filter: brightness(120%);
}

.reference-inline-popup, button:not([disabled]):active{
    filter: brightness(140%);
}
