:root {
    --background-color: #ffefd1;
    --menu-color: #929292;
    --menu-color-darker: #828282;
    --text-color: #ffffff !important;
    --accent: #ffffff; 
}


html {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    margin: inherit;

}

.container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: scroll;
    margin: inherit;
    color: var(--text-color);
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
}

.main-container {
    background-color: var(--menu-color);
    width: 90%;
    min-height: 90%;
    position: relative;
    left: 4%;
    display: inline-block;
    margin-bottom: 5%;
    top: 2%;
    overflow-y: scroll;
}

.title {
    width: 100%;
    height: 10vh;
    overflow-x: scroll;
    overflow-y: hidden;
    filter: brightness(80%);
    position: relative;
    background-color: var(--menu-color);
}

.title h2 {
    margin: 0;
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 2%;
    width: 98%;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    color: var(--text-color);
    position: relative;
    display: inline;
}

p {
    color: var(--text-color);
    position: relative;
    display: inline;
    max-width: 80%;
    overflow-x: scroll;
}

.main-text > div {
    margin-top: 1.5vh;
    margin-left: 2%;
}

.rich-text {
    display: block;
    padding: 1vw;
    background-color: var(--menu-color-darker);
    width: 90%;
    margin-top: .2vh;
}

a {
    padding: .5%;
    background-color: var(--menu-color-darker);    
    text-decoration: none;
    border: 1px solid var(--accent);
    color: var(--accent) !important; 
}

.banner{
    position: relative;
    display: block;
    background-color: var(--menu-color-darker);
    width: 100%;
    height: 20vh;
    object-fit: fill;
}