<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>${title}</title>
    <link rel="stylesheet" href="/article.css">
</head>

<body style="background-image: ${image};">
    <div class="container">
        <div class="main-container">
            <div class="title">
                <h2>${title}</h2>
            </div>
            <div class="main-text">${maintext}</div>
        </div>
        <div class="side-container">
            <div class="image-container"><img src="${image}" alt="${image}"></div>${sidetext}
        </div>
    </div>
</body>

</html>