:root {
    --background-color: wheat;
    --menu-color: #929292;
    --text-color: #ffffff !important;
}

html, body{
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    background-color: var(--background-color);
    overflow: hidden;
}

.inner-map-container {
    width: 95vw;
    position: absolute;
    -webkit-user-drag: none;
    user-select: none;
    -ms-user-select: none;
    cursor: move; 
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.inner-map-container:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.map-image {
    position: relative;
    transition: transform 0.3s ease-in-out;
    width: 95vw;
    -webkit-user-drag: none;
    user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}

.pin{
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    cursor: default;
    -webkit-user-drag: none;
    user-select: none;
    -ms-user-select: none;
}

.pin:hover{
    filter: brightness(120%);
}


.pin:active{
    filter: brightness(140%);
}

.pin-data-panel{
    position: fixed;
    width: 100%;
    height: 5%;
    background-color: var(--menu-color);
    opacity: 80%;
    color: var(--text-color);
    padding-left: 1%;
    display: flex;
}

.pin-data-panel h3{
    display: block;
    position: relative;
    padding: 1%;
    padding-top: 0;
    flex: 1;
    margin: 0;

}