<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>${mapName}</title>
  <link rel="stylesheet" href="/map.css">
</head>

<body>
  <div class="navbar"></div>
  <div class="map-container">
    <img class="map-render-image" draggable="false" src="${mapImage}">
  </div>
  <div class="controls">
    <div class="map-list">
      <div class="map-list-menu">
        <ul class="map-list-ul"></ul>
      </div>
    </div>
    <div class="pin-data">
      <input type="text" id="pin-name" placeholder="Name" readonly>
      <textarea id="pin-description" placeholder="Description" readonly></textarea>
    </div>
  </div>

  <script>
    let pins = ${pins}
    let lastPin = null

    const mapContainer = document.querySelector(".map-container")
    const mapElem = document.querySelector(".map-render-image")

    const pinNameInput = document.getElementById("pin-name")
    const pinDescInput = document.getElementById("pin-description")

    let mapPositionData = { isDragging: false, lastLeft: 0, lastTop: 0, totalLeft: 0, totalTop: 0 }

    function setInterfacePinData() {
      const pin = pins.find(x => x.uid === lastPin)
      if (!pin) return
      pinNameInput.value = pin.name || ""
      pinDescInput.value = pin.description || ""
    }

    function createPinElement(pin) {
      const newPin = document.createElement("div")
      newPin.classList.add("pin")
      newPin.setAttribute("uid", pin.uid)
      newPin.innerHTML = `<img draggable="false" src="/resources/map-pin.svg">`

      newPin.style.top = `${pin.top}px`
      newPin.style.left = `${pin.left}px`

      newPin.addEventListener("mousedown", (event) => {
        if (event.button !== 0) return
        lastPin = pin.uid
        setInterfacePinData()
        event.stopPropagation() 
      })

      mapContainer.appendChild(newPin)
    }

    pins.forEach(pin => createPinElement(pin))


    mapElem.addEventListener("mousedown", (event) => {
      if (event.button !== 0) return
      mapPositionData.isDragging = true
      mapPositionData.lastLeft = event.clientX
      mapPositionData.lastTop = event.clientY
    })

    document.addEventListener("mousemove", (event) => {
      const draggingPin = document.querySelector(".dragging-pin")

      if (mapPositionData.isDragging) {
        let diffX = event.clientX - mapPositionData.lastLeft
        let diffY = event.clientY - mapPositionData.lastTop

        mapPositionData.lastLeft = event.clientX
        mapPositionData.lastTop = event.clientY

        mapPositionData.totalLeft += diffX
        mapPositionData.totalTop += diffY

        mapElem.style.left = `${mapPositionData.totalLeft}px`
        mapElem.style.top = `${mapPositionData.totalTop}px`

        document.querySelectorAll(".pin").forEach((el, index) => {
          const pin = pins[index]
          pin.left += diffX
          pin.top += diffY
          el.style.left = `${pin.left}px`
          el.style.top = `${pin.top}px`
        })
      }
    })

    document.addEventListener("mouseup", () => {
      mapPositionData.isDragging = false
    })

  </script>
</body>
</html>
